[user]
	name = Bloonstormz
	email = ngminyao@gmail.com
[checkout]
	defaultRemote = internal
[color]
	ui = auto
[core]
	editor = nvim
[alias]
	cs = commit -s
	dt = difftool -y
	df = diff --word-diff=color
[push]
	autoSetupRemote = true
[commit]
	signoff = true
[diff]
	tool = nvim_difftool
[difftool "nvim_difftool"]
	cmd = nvim -R -d $LOCAL $REMOTE
[pull]
	rebase = true
[include]
	path = ~/.config/git/delta.config
	path = ~/.config/git/local.gitconfig
